<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Upload</title>
  </head>
  <body>
    <h1>Upload a Video</h1>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="message {{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept="video/*" />
      <input type="submit" value="Upload" />
    </form>

    {% if filename %}
    <div class="video-preview">
      <h2>Processed Video Preview</h2>
      <video controls>
        <source
          src="{{ url_for('download_file', filename=filename) }}"
          type="{% if filename.endswith('.mp4') %}video/mp4{% elif filename.endswith('.mov') %}video/quicktime{% elif filename.endswith('.avi') %}video/x-msvideo{% elif filename.endswith('.mkv') %}video/x-matroska{% endif %}"
        />
        Your browser does not support the video tag.
      </video>
      <br />
      <a
        href="{{ url_for('download_file', filename=filename) }}"
        class="download-button"
        >Download Processed Video</a
      >
    </div>
    {% endif %}
  </body>
</html>
